<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>4Studies</title>
</head>
<body class="bg-[url('/images/plano3.png')] bg-cover bg-center min-h-screen">
    {{> _tabs}}
    {{{body}}}


    <script src="/js/script.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>