<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
    <title>4Studies</title>
</head>
<body class="bg-[url('/images/fundo_4studies.jpeg')] tracking-widest font-soul overflow-hidden h-screen bg-cover bg-center selection:bg-purple-300 selection:text-purple-900">
    {{> _tabs}}
    {{{body}}}


    <script src="/scripts/script_goals.js"></script>
    <script src="/scripts/script_notes.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>