<div class="flex flex-col items-center gap-10 h-full pt-24">
    <div id="clock_time" class="card rounded-2xl text-9xl font-medium text-branco pb-7 pe-11 ps-10 overflow-hidden">
        01:12:20
    </div>
    <div id="clock_button" class="card text-4xl font-medium tracking-widest text-branco px-4 py-2 outline-8 hover:bg-roxo-claro/80 hover:font-semibold active:bg-roxo-claro">
        Start
    </div>
</div>
