<div class="flex flex-col items-center gap-10 h-full pt-24">
    <div id="clock_time" class="card pb-7 w-[30rem] justify-center rounded-2xl text-9xl font-medium text-branco overflow-hidden">
        {{time}}
    </div>
    <div id="clock_button" class="card cursor-pointer text-4xl font-medium tracking-widest text-branco px-4 py-2 outline-8 hover:bg-roxo-claro/80 hover:font-semibold active:bg-roxo-claro">
        Start
    </div>
</div>
<script src="/scripts/script_clock.js"></script>