#background{
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    z-index: -10;
}

#background .landscape{
    left: 0;
    width: 100%;
}

#background img {
    position: absolute;
}

#sky{
    top: 0;
}

#mountains{
    top: 700px;
}

#cachoeira{
    top: 810px;
}

#cloud1{
    width: 700px;
    height: auto;

    position: absolute;
    top: 200px;
    left: 0px;
}

#cloud2{
    width: 400px;
    height: auto;

    position: absolute;
    top: 120px;
    right: 0px;
}

#cloud3{
    width: 550px;
    height: auto;

    position: absolute;
    top: 560px;
    right: 160px;
}