#background{
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    z-index: -10;
}

#background .landscape{
    left: 0;
    width: 100%;
}

#background img {
    position: absolute;
}

#sky{
    top: 0;
}

#mountains{
    top: 700px;
}

#cachoeira{
    top: 810px;
}

#cloud1{
    width: 950px;
    height: auto;

    position: absolute;
    top: -10px;
    left: -170px;
}

#cloud2{
    width: 650px;
    height: auto;

    position: absolute;
    top: 300px;
    right: -220px;
}

#cloud3{
    width: 550px;
    height: auto;

    position: absolute;
    top: 550px;
    left: -50px;
}

#cloud4{
    width: 400px;
    height: auto;

    position: absolute;
    top: 850px;
    right: 580px;
}

#cloud5{
    width: 300px;
    height: auto;

    position: absolute;
    top: 950px;
    right: 160px;
}

