
<div id="start" class="flex group overflow-x-auto rounded-xl whitespace-nowrap p-1 ms-8 mt-8 h-max w-max bg-azul bg-opacity-75 border-8 border-azul/30 outline outline-[0.8em] outline-azul/40">
    <a href="/" class="inline-flex font-extrabold rounded-t-lg items-center h-12 px-2 py-1 text-center text-branco {{#if clock}} border-4 border-b-0 {{else}} border-b-4 {{/if}} border-roxo-escuro sm:px-4 whitespace-nowrap hover:text-roxo-claro">
        <svg 
        xmlns="http://www.w3.org/2000/svg" 
        class="h-6 w-6" 
        viewBox="0 0 24 24" 
        fill="none" 
        stroke="currentColor" 
        stroke-width="1.75" 
        stroke-linecap="round" 
        stroke-linejoin="round"
        >
            <path d="M5 13a7 7 0 1 0 14 0a7 7 0 0 0 -14 0z" />
            <path d="M14.5 10.5l-2.5 2.5" />
            <path d="M17 8l1 -1" />
            <path d="M14 3h-4" />
        </svg>

        <span class="mx-1 text-xl">
            Clock 
        </span>
    </a>

    <a href="/notes/daily_goals" class="inline-flex font-extrabold rounded-t-lg items-center h-12 px-2 py-1 text-center text-branco {{#if notes}} border-4 border-b-0 {{else}} border-b-4 {{/if}} border-roxo-escuro sm:px-4 whitespace-nowrap hover:text-roxo-claro">

        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.75"
            stroke-linecap="round"
            stroke-linejoin="round"
            >
            <path d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18" />
            <path d="M13 8l2 0" />
            <path d="M13 12l2 0" />
        </svg>


        <span class="mx-1 text-xl">
            Notes
        </span>
    </a>

    <a href="/time" class="inline-flex font-extrabold rounded-t-lg items-center h-12 px-2 py-1 text-center text-branco {{#if timeNav}} border-4 border-b-0 {{else}} border-b-4 {{/if}} border-roxo-escuro sm:px-4 whitespace-nowrap hover:text-roxo-claro">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" class="bi bi-hourglass" viewBox="0 0 16 16">
            <path d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5m2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702c0 .7-.478 1.235-1.011 1.491A3.5 3.5 0 0 0 4.5 13v1h7v-1a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351v-.702c0-.7.478-1.235 1.011-1.491A3.5 3.5 0 0 0 11.5 3V2z"/>
        </svg>

        <span class="mx-1 text-xl">
            Time
        </span>
    </a>
</div>