<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
    <title>4Studies</title>
</head>
<body class="tracking-widest font-soul overflow-x-hidden selection:bg-purple-300 selection:text-purple-900">
    <img
        src="/images/sky.png"
        class="absolute top-0 left-0 w-full -z-10"
        alt=""
    >
    {{> _tabs}}
    {{{body}}}

    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>
{{!-- 
<img
        src="/images/fundo_4studies.jpeg"
        class="absolute top-0 left-0 w-full -z-10"
        alt=""
    > --}}